In [28]:
import numpy as np
import pandas as pd

In [29]:
data = pd.read_excel(r"C:\Users\HP\Desktop\Bajaj_Assignment1\Assignment1.xlsx", sheet_name= None)

In [30]:
data['Accounts'].isna().sum()

AccountId    0
Name         0
Age          0
City         4
State        4
Pincode      4
dtype: int64

In [31]:
data['Accounts'].City = data['Accounts'].City.fillna('Unknown')
data['Accounts'].State = data['Accounts'].State.fillna('Unknown')
data['Accounts'].Pincode = data['Accounts'].Pincode.fillna('0')

In [32]:

data['Accounts'].isna().sum()

AccountId    0
Name         0
Age          0
City         0
State        0
Pincode      0
dtype: int64

In [33]:
data['Claims'].isna().sum()

Id              0
CreatedDate     0
CaseNumber      0
HAN            43
BillAmount      1
Status          0
AccountId       0
dtype: int64

In [34]:
data['Claims'].HAN = data['Claims'].HAN.fillna('Unknown')
data['Claims'].BillAmount = data['Claims'].HAN.fillna(0)

In [35]:
data['Claims'].isna().sum()

Id             0
CreatedDate    0
CaseNumber     0
HAN            0
BillAmount     0
Status         0
AccountId      0
dtype: int64

In [36]:
data['Policies'].isna().sum()

HAN            0
Policy Name    0
dtype: int64

In [37]:
with pd.ExcelWriter('Data.xlsx') as writer:  
    data['Accounts'].to_excel(writer, sheet_name='Accounts')
    data['Claims'].to_excel(writer, sheet_name='Claims')
    data['Policies'].to_excel(writer, sheet_name='Policies')

In [38]:
data = pd.read_excel(r"C:\Users\HP\Desktop\Bajaj_Assignment1\Data.xlsx", sheet_name= None)
accounts = data['Accounts']
claims = data['Claims']
policies = data['Policies']

In [39]:
accounts

,Unnamed: 0,AccountId,Name,Age,City,State,Pincode
0,0,0012j00000GjoGnAAJ,Testt test Kumarr,29,Pune,Maharashtra,411040
1,1,0012j00000GmxLdAAJ,Testeshaan Testaggarwal,33,Pune,Maharashtra,411004
2,2,0018p0000054vjzAAA,Divyatest Test Test,33,Pune,Maharashtra,411004
3,3,0018p000004rhlqAAA,Test1 Test Test2,33,Pune,Maharashtra,411004
4,4,0018p00000552gZAAQ,Test Test Test,33,Pune,Maharashtra,411004
5,5,0018p000004Y163AAC,Suniltest Test Test,33,Pune,Maharashtra,411004
6,6,0018p000005b1OgAAI,Kamaltest Test Test,33,Pune,Maharashtra,411004
7,7,0018p000007FZfzAAG,Testdivya Test,33,Pune,Maharashtra,411004
8,8,0018p000007MBx7AAG,Divyatest Test Kaul,33,Pune,Maharashtra,411004
9,9,0018p0000074z1eAAA,Shreyas Test Test,33,Pune,Maharashtra,411004
10,10,0018p000007WtLdAAK,Testshantanu Test Test,33,Pune,Maharashtra,411004
11,11,0018p000006TVysAAG,Testdivya Test Kaul,33,Pune,Maharashtra,411004
12,12,0018p000004k14WAAQ,Test Test,36,Pune,Maharashtra,411004
13,13,0018p000007X2ylAAC,Testgurpalak Test Test,33,Pune,Maharashtra,411004
14,14,0018p000007yxkPAAQ,Testdivya Test Test,33,Pune,Maharashtra,411004
15,15,0018p000006AFP6AAO,Shreyas Test Test,33,Pune,Maharashtra,411004
16,16,0018p000008P83tAAC,Test Test Test,33,Pune,Maharashtra,411004
17,17,0018p0000096Ap3AAE,Imisha Test,28,Pune,Maharashtra,411011
18,18,0018p0000031RvQAAU,Shashank Raitest,124,Vaishali,Bihar,844126
19,19,0018p000007eDVeAAM,Test Gurpalak Test Test,33,Pune,Maharashtra,411004
20,20,0018p000007oMCcAAM,Testsmita Test Solunke,33,Pune,Maharashtra,411004
21,21,0018p000009l3wBAAQ,Testdivya Kaul,124,Pune,Maharashtra,411004
22,22,001OA000000jolUYAQ,Prodmon Test,33,Pune,Maharashtra,411004
23,23,0018p000007tIsVAAU,Testvishal Test,33,Pune,Maharashtra,411004
24,24,001OA000006f6KeYAI,Mayur Talwekartest,21,Pune,MH,411004
25,25,001OA000001JSw6YAG,Test Test,33,Pune,Maharashtra,411004
26,26,0018p000009aOEoAAM,Testing Test Test,33,Pune,Maharashtra,411004
27,27,001OA000000sMejYAE,Test Test Test,33,Pune,MH,411004
28,28,0018p000009dTCuAAM,Ashwin Test,33,Pune,Maharashtra,411004
29,29,0018p000005OZtzAAG,Test Test,33,Pune,Maharashtra,411004
30,30,0018p000009WIRCAA4,Testgurpalak Test Test,33,Pune,Maharashtra,411004
31,31,001OA000002X8FlYAK,Test abhidandan Mishra,24,Unknown,Unknown,0
32,32,001OA000002WlIuYAK,Test Test,25,Pune,Maharashtra,411004
33,33,0018p000007pmXLAAY,Test Test Test,33,Pune,Maharashtra,411004
34,34,001OA000002Z1HpYAK,Test Dash,25,Unknown,Unknown,0
35,35,001OA0000013DmwYAE,Test Test Test,33,Pune,Maharashtra,411004
36,36,0018p000009VgdQAAS,Test Test Test,33,Pune,Maharashtra,411004
37,37,001OA0000032fa9YAA,Anjalitest Test Nevasetest,33,Pune,Maharashtra,411004
38,38,001OA000002xOhvYAE,Test Test Test,33,Pune,Maharashtra,411004
39,39,001OA0000040P9GYAU,Amey Test,33,Pune,Maharashtra,411004
40,40,001OA0000043VTDYA2,Test Smita,33,Pune,Maharashtra,411004
41,41,001OA000002dR7LYAU,Akshaytest Gandurde,33,Pune,MH,411004
42,42,001OA000006Oe7KYAS,Anjali Test Nevasetest,33,Pune,Maharashtra,411004
43,43,001OA000002zFfQYAU,Testrimjhim Testrimjhim,33,Pune,Maharashtra,411004
44,44,001OA000001WFWYYA4,Sandesh Mujmuletest,27,Pune,MH,411004
45,45,001OA000002m2chYAA,Test Test Test,33,Pune,MH,411004
46,46,001OA000009jWTDYA2,Divensh Balpandetest,33,Pune,MH,411004
47,47,001OA0000094W7WYAU,Agentportal Testautomation,33,Pune,Maharashtra,411004
48,48,001OA000002e5sgYAA,Testautomationprimary Test Test,33,Pune,Maharashtra,411004
49,49,0018p000002xWG4AAM,AtulTest GoreT,34,Pune,MH,411004
50,50,001OA00000BrFQrYAN,Sansedh Test,31,Pune,Maharashtra,411004
51,51,001OA00000BoSAyYAN,Test Automation,31,BILASPUR,MH,411004
52,52,001OA000005vkCzYAI,TESTSail BAJAJ,30,Unknown,Unknown,0
53,53,001OA00000BnRVaYAN,Sailu Testrao,33,Pune,MH,411004
54,54,001OA00000BoiUCYAZ,Test Automation,31,Pune,Maharashtra,411004
55,55,001OA00000BqluTYAR,Abhi Test,26,Nagpur,Maharashtra,440018
56,56,001OA00000BpXNCYA3,Shweta Test,31,Pune,MH,411004
57,57,0018p000003rjI5AAI,Mayur Test,39,Buldhana,Maharashtra,443104
58,58,001OA00000Dat51YAB,Ameya Kumar Test,39,Palghar,Maharashtra,401305
59,59,001OA0000032e6lYAA,Test Nandnihexa,25,Unknown,Unknown,0

In [62]:

claim = claims[claims['Id'] == '5008p000001I11XAAS']
claim

,Unnamed: 0,Id,CreatedDate,CaseNumber,HAN,BillAmount,Status,AccountId
0,0,5008p000001I11XAAS,2021-10-20T03:03:45.000+0000,SR00754586,01CHSP0000002222,01CHSP0000002222,Paid,0012j00000GjoGnAAJ

In [64]:
account_id = claim['AccountId']
account_id[0]

'0012j00000GjoGnAAJ'

In [65]:
details = accounts[accounts['AccountId'] == account_id[0]]

In [66]:
details

,Unnamed: 0,AccountId,Name,Age,City,State,Pincode
0,0,0012j00000GjoGnAAJ,Testt test Kumarr,29,Pune,Maharashtra,411040